{% extends "base.html" %}
{% load static %}



{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container main">
    <div class="row">
        <div class="col text-center mx-3 py-5 col-md-auto">
            <h1 class="display-1 logo-font text-brown px-3 px-md-5 mx-md-5">
                Level up your coffee game...
            </h1>
            <div class="mt-5">
                <h4">
                    <a href="{% url 'products' %}" role="button"
                        class="shop-now-button btn btn-lg text-uppercase px-3 py-3 shadow-lg">Shop
                        Now</a>
                    </h4>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="text-center py-5">
        <div class="row py-5 justify-content-center">
            <div class="col text-center col-md-8">
                <h3 class="display-2 logo-font px-5 mx-5">
                    More than coffee
                </h3>
            </div>
        </div>
        <div class="row mt-5 pb-5 text-center justify-content-center">
            <div class="col text-center col-md-8">
                <p class="small-text px-5 mx-5">
                    Here at KUPPA we understand that coffee is more than just a beverage. It's a way of life...
                </p>
                <div class="mt-5 pt-5">
                    <h4>
                        <a href="{% url 'products' %}" role="button"
                            class="shop-now-button btn btn-lg text-uppercase px-3 py-3 shadow-lg">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="col py-5">
                <img src="{{ media_url }}coffee_3.jpg" alt="Barista pouring coffee into cup with latte art" width="420"
                    height="260" class="shadow-lg rounded">
            </section>
        </div>
    </div>
</div>

<div class="w-100 px-5 py-5 text-white learn-more-background">
    <div class="row py-5 text-center">
        <div class="col">
            <h3 class="display-2 logo-font px-5 mx-5">Details that matter</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <p class="px-5 mx-5 small-text py-5">Every product from KUPPA is made with care...</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 pt-5 px-2 text-center">
            <img src="{{ media_url }}coffee_10.jpg" alt="sack of coffee and cup of coffe on table" width="330"
                height="380" class="shadow-lg rounded">
            <p class="pt-5 small-text">100% Responsibly Sourced <i class="fa-solid fa-check"></i></i></p>
        </div>
        <div class="col-sm-12 col-md-6 pt-5 px-2 text-center">
            <img src="{{ media_url }}coffee_11.jpg" alt="sack of coffee and cup of coffe on table" width="330"
                height="380" class="shadow-lg rounded">
            <p class="pt-5 small-text">Innovative Brewing Process <i class="fa-solid fa-droplet"></i></p>
        </div>
        <div class="col-sm-12 col-md-6 pt-5 px-2 text-center">
            <img src="{{ media_url }}coffee_20.jpg" alt="sack of coffee and cup of coffe on table" width="330"
                height="380" class="shadow-lg rounded">
            <p class="pt-5 small-text">Fairly Traded <i class="fa-solid fa-handshake-simple"></i></p>
        </div>
        <div class="col-sm-12 col-md-6 pt-5 px-2 text-center">
            <img src="{{ media_url }}coffee_1.jpg" alt="sack of coffee and cup of coffe on table" width="330"
                height="380" class="shadow-lg rounded">
            <p class="pt-5 small-text">Flavour Guarantee <i class="fa-solid fa-mug-hot"></i></p>
        </div>
        <div class="mt-5 text-center">
            <h4>
                <a href="{% url 'products' %}?category=blends,guatemala,costa_rica" role="button"
                    class="shop-now-button btn btn-lg text-uppercase px-3 py-3 shadow-lg">Buy
                    Now</a>
            </h4>
        </div>
    </div>
</div>

{% endblock %}