{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Terms of Service</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="mt-5">This is our Terms of Service</p>
        </div>
    </div>
</div>

{% endblock %}