{% extends "base.html" %}
{% load static %}
{% load multiply %}



{% block page_header %}
<div class="container head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid title-container basket_container mb-3">
    <div class="row">
        <div class="col-12">
            <h1>Checkout</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last">
            <label>Order Summary: {{ product_count }}</label>
            {% if basket_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Description</th>
                        <th scope="col">Sub</th>
                    </tr>
                </thead>
                {% for item in basket_items %}
                <tbody>
                    <tr>
                        <th scope="row">
                            <div class="align-items-center custom-img">
                                {% if item.product_image %}
                                <img class="img-thumbnail rounded" src="{{ item.product_image.url }}"
                                    alt="{{ item.product_name }}">
                                {% else %}
                                <img class="img-thumbnail rounded" src="{{ MEDIA_URL }}noimage.jpeg"
                                    alt="{{ item.product_name }}">
                                {% endif %}
                            </div>
                        </th>
                        <td class="align-items-center">{{ item.product_name }} ({{ item.quantity }})</td>
                        <td>{{ item.product.price | multiply:item.quantity }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid text-center">
                        <div class="col-12 d-flex align-items-center mb-4">
                            <a href="{% url 'products' %}"
                                class="mt-3 mr-3 btn btn-kuppa text-decoration-none text-uppercase" role="button"><i
                                    class="fa-solid fa-circle-chevron-left"></i> Keep Shopping</a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </div>
            </div>
            {% else %}
            <p class="mt-3">Your basket is currently empty</p>
            <a href="{% url 'products' %}" class="btn btn-kuppa text-decoration-none text-uppercase" role="button"><i
                    class="fa-solid fa-circle-chevron-left"></i> Keep Shopping</a>
            {% endif %}
            <div class="row my-3">
                <div class="col-12 text-left">
                    <p class="m-0"><strong>Total:</strong> £{{ total|floatformat:2 }}</p>
                    <p class="m-0"><strong>Delivery:</strong> £{{ delivery|floatformat:2 }}</p>
                    <p class="m-0"><strong>Grand Total (inc delivery):</strong> £{{ grand_total|floatformat:2 }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row my-2">
                <div class="col-12">
                    <h6>Please fill out the form below. Thanks you!</h6>
                </div>
            </div>
            <div class="row">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded mt-2">
                        <legend class="fieldset-label small w-auto">Personal</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded mt-4">
                        <legend class="fieldset-label small w-auto">Delivery</legend>
                        {{ order_form.address_line_one | as_crispy_field }}
                        {{ order_form.address_line_two | as_crispy_field }}
                        {{ order_form.city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.phone_nbr | as_crispy_field }}
                        <div class="form-check form-check-inline">
                            {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save delivery information</label>
                            <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
                            {% else %}
                            <label class="form-check-label mt-2" for="id-save-info">
                                <a class="text-info text-brown" href="">Create account</a> or
                                <a class="text-info text-brown" href="">Login</a>
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="submit-button my-4">
                        <a href="" class="btn btn-kuppa text-decoration-none text-uppercase" role="button"><i
                                class="fas fa-lock"></i> Complete Order</a>
                        <p class="small text-danger mt-2">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>You will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                    <fieldset class="">
                        <legend class="fieldset-label small w-auto">Payment</legend>
                        <!-- Stripe container -->
                        <div class="mb-3"></div>
                        <!-- form errors container -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}