{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="text-left container mb-3">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h1 class="mb-4">Thank you! {{ order.full_name }}</h1>
            <hr>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            {% if account %}
            <p>This is a historical order. Dated {{ order.date }}</p>
            {% else %}
            <p>Please see below for your order details.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="my-3 display-6">Order Details</p>
            <p class="">Total: £{{ order.grand_total }}</p>
            {% if account %}
            <p class="">Order #{{ order.order_number|truncatechars:8 }}</p>
            {% else %}
            <p class="">Order #{{ order.order_number|truncatechars:8 }}</p>
            {% endif %}
            <p class="">Name: {{ order.full_name }}</p>
            <p class="">Date: {{ order.date }}</p>
            <p class="">Delivery Postcode: {{ order.postcode }}</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="my-3 display-6">Order Items</p>
            {% for item in order.order_items.all %}
            <div>
                <p>{{ item.product.name }} Qty: {{ item.quantity }}</p>
            </div>
            {% endfor%}
        </div>
    </div>
    <div class="row">
        {% if account %}
        <div class="col text-center mt-5">
            <a href="{% url 'account' %}" class="btn btn-kuppa text-decoration-none text-uppercase" role="button">My
                Account</a>
        </div>
        {% else %}
        <div
            class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-5 d-flex justify-content-around align-items-center">
            <p class="m-0">Forget something?</p>
            <a href="{% url 'products' %}" class="btn btn-kuppa text-decoration-none text-uppercase" role="button"><i
                    class="fa-solid fa-circle-chevron-left"></i> All products</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}