{% extends "base.html" %}
{% load static %}



{% block page_header %}
<div class="container head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid title-container basket_container mb-3">
    <div class="row">
        <div class="col-12">
            <h1>My Basket</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if basket_items %}
            <div class="table-responsive"></div>
            {% else %}
            <p class="mt-3">Your basket is currently empty</p>
            <a href="{% url 'products' %}" class="text-black text-decoration-none text-uppercase" role="button"><i class="fa-solid fa-circle-chevron-left"></i> Keep Shopping</a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}