html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Poppins', Helvetica, sans-serif;
    box-sizing: border-box;
}

.main {
    background: url('/media/hero_image.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-height: 1050px;
    padding: 200px 30px 0;
    margin: 0;
    min-width: 100%;
}

/* Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 400;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: red;
    color: #ffffff;
    font-weight: 600;
    min-width: 200px;
    border-radius: 200px;
}

.btn-black {
    background: black;
    color: #ffffff;
}

.shop-now-button:hover,
.btn-black:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.border-black {
    border: 1px solid #000000 !important;
}

.text-brown {
    color: #804102 !important;
}

.banner-colour {
    background-color: #804102;
}

.learn-more-background {
    background-color: #804102;
}

.products_container {
    width: 100%;
    min-height: 80vh;
}

.title-container {
    margin-top: 8rem;
}

.product_container {
    margin: 0 2rem 0;
}

.footer-background {
    background: url('/media/coffee_12.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 300px;
    min-width: 100%;
}

/* ------- Media Queries ------- */

/* larger container on xl viewports */
@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

/* fixed top navbar only on medium above */
@media (min-width: 992px) {
    .desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .head-container {
        padding-top: 160px;
    }
}