/* general CSS rules */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: 'Poppins', Helvetica, sans-serif;
    box-sizing: border-box;
}

.main {
    background: url('/media/hero_image.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-height: 1050px;
    padding: 200px 30px 0;
    margin: 0;
    min-width: 100%;
}

.container {
    width: 100%;
    min-height: 80vh;
    padding-top: 100px;
}

.nav-text {
    font-size: 0.8rem;
}

.nav-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 400;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: red;
    color: #ffffff;
    font-weight: 600;
    min-width: 200px;
    border-radius: 200px;
}

.shop-now-button:hover,
.btn-black:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.btn-kuppa {
    background: #804102;
    color: #ffffff;
}

.btn-kuppa:hover {
    background: #804102c2;
    color: #ffffff;
}

.border-black {
    border: 1px solid #000000 !important;
}

.text-brown {
    color: #804102 !important;
}

.banner-colour {
    background-color: #804102;
}

.learn-more-background {
    background-color: #804102;
}

.small-text {
    font-size: 1.6rem;
}

.footer-background {
    background: url('/media/coffee_12.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 200px;
    min-width: 100%;
}

.message-container {
    position: fixed;
    z-index: 9999999;
    top: 7rem;
    right: 1rem;
}

.kuppa-toast {
    overflow: visible;
}

.custom-img {
    height: 6rem;
    width: 6rem;
}

/* products section */

.btn-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem 1rem;
}

/* all auth specific */

.allauth-form-inner-content {
    height: 70vh;
}

.allauth-form-inner-content label {
    margin-top: 1rem;
}

.allauth-form-inner-content input {
    border: 1px solid #804102;
}

.allauth-form-inner-content button {
    margin-top: 2rem;
}

.allauth-form-inner-content h1 {
    margin-top: 2rem;
}

/* ------- Media Queries ------- */

@media (max-width: 991px) {
    .header-container {
        padding-top: 50px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 100px;
    }
}