<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Region</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Coffee-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Coffee-link">
                <a href="" class="dropdown-item">Columbia</a>
                <a href="" class="dropdown-item">Guatemala</a>
                <a href="" class="dropdown-item">Costa Rica</a>
                <a href="" class="dropdown-item">All Coffee</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Brewing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brewing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Brewing-link">
                <a href="" class="dropdown-item">Cups</a>
                <a href="" class="dropdown-item">Machines</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Great Deals</a>
                <a href="" class="dropdown-item">Out of Season</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>