{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container title-container products_container">
    <div class="row text-center">
        <div class="col">
            <h1 class="mt-4">Product Management</h1>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="my-4 text-center">Please edit a product</h5>
            <form method="POST" action="{% url 'edit_product' product.id %}" class="text-left form my-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center my-5">
                    <a class="btn btn-kuppa text-decoration-none text-uppercase" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-kuppa text-decoration-none text-uppercase" type="submit">Edit Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}