{% extends "base.html" %}
{% load static %}



{% block page_header %}
<div class="container head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="products_container">
    <div class="row title-container">
        <section class="col mb-5 text-center">
            <h1 class="logo-font">{{ product.name }}</h1>
        </section>
    </div>
    <div class="row product_container">
        <div class="product-container col-10 offset-1">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 offset-lg-2">
                    <div class="image-container my-5">
                        {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="img-fluid card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="img-fluid card-img-top" src="{{ MEDIA_URL }}noimage.jpeg"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body pb-0">
                <p class="mb-0">{{ product.name }}</p>
            </div>
            <div class="card-footer bg-white text-left pt-0 border-0">
                <div class="row">
                    <section class="col">
                        <p class="lead text-left mb-0 font-weight-bold">£{{ product.price }}</p>
                        {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star"></i> {{ product.rating }} /
                            5</small>
                        {% else %}
                        <small class="text-muted">No Rating</small>
                        {% endif %}
                        <br>
                        {% if product.category.name %}
                        <small class="text-muted"><i class="fa-solid fa-tag"></i> {{ product.category.name }}</small>
                        {% endif %}
                        <p class="mt-4">{{ product.description }}</p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}